fuck {
        color: silver;
      }
      figure {
        margin: 0;
      }
      html {
        min-height: 100%;
      }
      body {
        text-align: center; /*padding: 50vw 0;*/
        background-color: #000;
        background-image: url(https://i.pinimg.com/originals/2d/79/a2/2d79a22c6a7902c41866fe4badebe98e.gif);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .oppai {
        color: #f8f8ff;
        font-size: 4.5vw;
        font-family: Courier;
        overflow: auto;
      }
      .bukkake {
        text-align: middle;
        width: 400px;
        height: auto;
      }
      .bdsm {
        color: #f8f8ff;
        font-size: 2.1vw;
        font-family: "Courier New";
      }
      .color,
      a {
        overflow: auto;
        color: red;
        font-family: Arial, Helvetica, sans-serif;
      }
      .color_1 {
        color: #f8f8ff;
        font-size: 2.4vw;
        overflow: auto;
      }
      audio {
        display: none;
      }
      l {
        color: red;
      }
      #message {
        font-family: "Courier New";
      }
      #f {
        color: ghostwhite;
      }
      body {
        height: 100vh !important;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 25px;
      }
      img{width:50%;height:50%;}
